* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: sans-serif;
  font-size: 16px;
}
.temp-holder {
  text-align: center;
}
.temp-header {
  margin: 0 2rem;
}
.temp-para {
  font-size: 1.25rem;
}
