@media (max-width: 1200px) {
  #about {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 880px) {
  /* Nav bar */
  #nav-logo,
  #nav-links {
    display: none;
  }

  #translator-box {
    position: fixed;
    top: 5px;
    right: 5px;
  }

  /* About me section */
  #about {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }

  #profile-img {
    height: 17.5em;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
    margin: 0 2em;
  }

  #socials-box {
    margin: 0 2em;
    border-radius: 0;
    width: 100%;
  }

  #socials-box h3 {
    display: none;
  }

  #socials,
  #contacts {
    justify-content: center;
    margin: 0.5em 0.25em;
  }

  #profile-desc-box {
    margin: 0 2em;
    border-radius: 0 0 2em 2em;

    border-top: 0.125em solid var(--color-secondary-2-3);
    border-left: none;
  }

  #profile-desc-box p,
  #profile-desc-box li {
    word-wrap: normal;
  }

  /* Footer */
  #footer-box {
    flex-wrap: wrap;
  }

  #copyright {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #skills-and-projects {
    display: block;
  }

  #skills-container {
    border-right: none;
    padding-right: 0;
  }

  #work-and-projects {
    margin-top: 2em;
    padding-left: 0;

    border-top: 0.125em solid var(--color-secondary-2-3);
  }

  #work-and-projects h2 {
    margin-top: 1em;
  }
}
