/* INIT */
* {
  margin: 0;
  padding: 0;
}
/* Global state */
html,
body {
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

li {
  list-style: none;
}

/* Header part styles */
header {
  display: flex;
  justify-content: space-around;
}

#nav-list {
  display: flex;
}

#lang-set-list {
  display: flex;
}
/* Main part styles */
#picture-about-holder {
  display: flex;
  justify-content: center;
}

/* Content a.k.a work and projects part styles */
#work-and-projects {
  display: flex;
  justify-content: center;
}
#work-holder {
}
.work-proj-box {
  display: flex;
}

/* Footer part styles */
.footer-box {
  display: flex;
  justify-content: space-evenly;
}

#copyright {
  text-align: center;
}
