/* Palette URL: http://paletton.com/#uid=53c070kV5rShgBWozE4Zsbc+B55 */

/* INIT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-primary-0: #008e72;
  --color-primary-1: #54b7a4;
  --color-primary-2: #2cbda1;
  --color-primary-3: #00392e;
  --color-primary-4: #001a15;

  --color-secondary-1-0: #008086;
  --color-secondary-1-1: #52acb0; 
  --color-secondary-1-2: #2bb1b7;
  --color-secondary-1-3: #003336;
  --color-secondary-1-4: #001718;

  --color-secondary-2-0: #00965d;
  --color-secondary-2-1: #58be97;
  --color-secondary-2-2: #2ec48b;
  --color-secondary-2-3: #003c25;
  --color-secondary-2-4: #001b11;

  --color-background: rgb(250, 250, 250);

  /* For testing and visual tracking */
  /* border: 1px solid black; */
}
/* Global state */
:root {
  /* Global font size. em and rem measured from this */
  font-size: 18px;
}

html {
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
}

body {
  width: 100%;

  background-color: var(--color-primary-1);
}

h1 {
  font-size: 2rem;
  padding: 0.5em;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  padding: 0.25em;
}

h3 {
  font-size: 1.25rem;
  padding: 0.125em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* Translation box */
#translator-box {
  display: none;
  position: fixed;
}

#translator-box span:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Navigation part styles */
#main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  

  overflow-wrap: normal;
}

#nav-links {
  background-color: var(--color-secondary-2-1);
  
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.20);

  padding: 1em;
  margin: 1em;
  border-radius: 4em;
}

#nav-links ul {
  display: flex;
  gap: 0.5em;

  @media (max-width: 850px) {
    flex-wrap: wrap;
  }
}

#nav-links ul li {
  padding: 0.25em;
}

#nav-links ul li a:hover,
#nav-links ul li a:active {
  border-bottom: 0.1em solid #001b11;
}

/* Header part styles */
header {
  display: none;
  border: 2px solid black;
  color: red;
  text-align: center;
}

/* About me part styles */
#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  align-items: center;

  background: var(--color-primary-1);
  background: -moz-linear-gradient(
    180deg,
    var(--color-primary-1) 0%,
    var(--color-primary-2) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    var(--color-primary-1) 0%,
    var(--color-primary-2) 100%
  );
  background: linear-gradient(
    180deg,
    var(--color-primary-1) 0%,
    var(--color-primary-2) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#54b7a4",endColorstr="#2cbda1",GradientType=1);

  @media (max-width: 850px) {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }
}

#profile-img {
  justify-self: end;
  border-radius: 5em 5em 0;
  height: 25em;
  width: 25em;

  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);

  @media (max-width: 850px) {
    height: 15em;
    width: 15em;

    border-radius: 0 5em;
    box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  }
}

#profile-desc {
  margin: 1em;
  border-radius: 2em;
  background-color: var(--color-secondary-1-1);

  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
}

#profile-desc p {
  padding: 0.25em 1em;
  margin: 0 0.25em;

  @media (max-width: 850px) {
    word-wrap: normal;
  }
}

/* Skills part styles */
#skills-and-experience {
  display: block;

  background: rgb(44, 189, 161);
  background: -moz-linear-gradient(
    180deg,
    rgba(44, 189, 161, 1) 0%,
    rgba(82, 172, 176, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(44, 189, 161, 1) 0%,
    rgba(82, 172, 176, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(44, 189, 161, 1) 0%,
    rgba(82, 172, 176, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cbda1",endColorstr="#52acb0",GradientType=1);
}

#skills-and-experience h2 {
  text-align: center;
}

#skillset {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 850px) {
    display: block;
  }
}

#aspirations,
#per-hobbies {
  margin: 1em 1em 0 1em;
}

#goals,
#hobbies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 850px) {
    display: block;
  }
}

.skill,
.goal,
.hobby {
  padding: 0.5em;
  border-radius: 0.25em;
  margin: 0.5em 0.5em 0 0;

  transition: 0.3s;
}

.skill {
  background: var(--color-secondary-2-2);
}

.goal {
  background: var(--color-secondary-1-2);
}

.hobby {
  background: var(--color-primary-1);
}

.skill:hover,
.goal:hover,
.hobby:hover {
  cursor: pointer;
  transform: translateY(-0.25rem);

  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
}

/* Content a.k.a work and projects part styles */
#work-and-projects {
  display: block;
  background: var(--color-secondary-1-1);
}

#work-and-projects-content h2 {
  text-align: center;
}

#work-and-projects-filter {
  margin: 0em 0.5em;
  border-radius: 2em 2em 0 0;

  border-bottom: 0.25em solid var(--color-secondary-1-2);
  background: var(--color-secondary-2-2);
}

#works-filter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#works-filter li {
  padding: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}
#works-filter li:hover {
  border-bottom: 0.15em solid #001b11;
  border-radius: 0.25em;

  transform: translateY(-0.25rem);
}

#work-holder {
  display: block;
  justify-content: center;
  margin: 0em 0.5em;

  background: var(--color-secondary-1-2);

  @media (max-width: 700px) {
    display: flex;
    flex-wrap: wrap;
  }
}

#work-holder:last-child {
  padding-bottom: 1em;
  border-radius: 0 0 2em 2em;
}

.work-proj-box {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  @media (max-width: 850px) {
    flex-wrap: wrap;
  }
}

.work-proj-box img {
  padding: 1em 0 1em 1em;
  width: 10em;
  height: 10em;
}

.work-proj-box p,
.work-proj-box a {
  padding: 1em;
}

/* Footer part styles */
footer {
  background: rgb(82, 172, 176);
  background: -moz-linear-gradient(
    180deg,
    rgba(82, 172, 176, 1) 0%,
    var(--color-primary-1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(82, 172, 176, 1) 0%,
    var(--color-primary-1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(82, 172, 176, 1) 0%,
    var(--color-primary-1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52acb0",endColorstr="#54b7a4",GradientType=1);
}

#footer-box {
  display: flex;
  justify-content: space-around;

  @media (max-width: 950px) {
    flex-wrap: wrap;
    
  }
}

#socials-box,
#contacts-box {
  margin: 0 0.5em 0.5em 0.5em;
}

#socials-box h3,
#contacts-box h3 {
  padding: 0.5em;
}
.social,
.contact {
  padding: 0.5em;
}

#copyright {
  font-size: 0.785rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  @media (max-width: 950px) {
    display: block;
  }
}
