@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap");

/* COLOR PALLETE USED
*** Primary color:

shade 0 = #00A383 = rgb(  0,163,131) = rgba(  0,163,131,1) = rgb0(0,0.639,0.514)
shade 1 = #48BAA4 = rgb( 72,186,164) = rgba( 72,186,164,1) = rgb0(0.282,0.729,0.643)
shade 2 = #26A98F = rgb( 38,169,143) = rgba( 38,169,143,1) = rgb0(0.149,0.663,0.561)
shade 3 = #007E65 = rgb(  0,126,101) = rgba(  0,126,101,1) = rgb0(0,0.494,0.396)
shade 4 = #006350 = rgb(  0, 99, 80) = rgba(  0, 99, 80,1) = rgb0(0,0.388,0.314)

*** Secondary color (1):

   shade 0 = #0A64A4 = rgb( 10,100,164) = rgba( 10,100,164,1) = rgb0(0.039,0.392,0.643)
   shade 1 = #508EBA = rgb( 80,142,186) = rgba( 80,142,186,1) = rgb0(0.314,0.557,0.729)
   shade 2 = #2E76A9 = rgb( 46,118,169) = rgba( 46,118,169,1) = rgb0(0.18,0.463,0.663)
   shade 3 = #074D7E = rgb(  7, 77,126) = rgba(  7, 77,126,1) = rgb0(0.027,0.302,0.494)
   shade 4 = #053C63 = rgb(  5, 60, 99) = rgba(  5, 60, 99,1) = rgb0(0.02,0.235,0.388)
   
   *** Secondary color (2):

   shade 0 = #00C12B = rgb(  0,193, 43) = rgba(  0,193, 43,1) = rgb0(0,0.757,0.169)
   shade 1 = #51D06D = rgb( 81,208,109) = rgba( 81,208,109,1) = rgb0(0.318,0.816,0.427)
   shade 2 = #2CC44E = rgb( 44,196, 78) = rgba( 44,196, 78,1) = rgb0(0.173,0.769,0.306)
   shade 3 = #009521 = rgb(  0,149, 33) = rgba(  0,149, 33,1) = rgb0(0,0.584,0.129)
   shade 4 = #00751A = rgb(  0,117, 26) = rgba(  0,117, 26,1) = rgb0(0,0.459,0.102)
   */

/* Shadow
   box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
   -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
     -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
   */

/* INIT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-primary-0: rgba(0, 163, 131, 1);
  --color-primary-1: rgba(72, 186, 164, 1);
  --color-primary-2: rgba(38, 169, 143, 1);
  --color-primary-3: rgba(0, 126, 101, 1);
  --color-primary-4: rgba(0, 99, 80, 1);

  --color-secondary-1-0: rgba(10, 100, 164, 1);
  --color-secondary-1-1: rgba(80, 142, 186, 1);
  --color-secondary-1-2: rgba(46, 118, 169, 1);
  --color-secondary-1-3: rgba(7, 77, 126, 1);
  --color-secondary-1-4: rgba(5, 60, 99, 1);

  --color-secondary-2-0: rgba(0, 193, 43, 1);
  --color-secondary-2-1: rgba(81, 208, 109, 1);
  --color-secondary-2-2: rgba(44, 196, 78, 1);
  --color-secondary-2-3: rgba(0, 149, 33, 1);
  --color-secondary-2-4: rgba(0, 117, 26, 1);

  --color-base-0: rgba(250, 250, 250, 1);
  --color-base-1: rgba(220, 220, 220, 1);
  --color-base-2: rgba(180, 180, 180, 1);
  --color-base-3: rgba(150, 150, 150, 1);
  --color-base-4: rgba(120, 120, 120, 1);
  --color-base-5: rgba(90, 90, 90, 1);
  --color-base-6: rgba(60, 60, 60, 1);
  --color-base-7: rgba(30, 30, 30, 1);
  --color-base-8: rgba(0, 0, 0, 1);

  --set-transition-time: 0.3s;
  /* For testing and visual tracking */
  /* border: 1px solid black; */
}
/* Global state */
:root {
  /* Global font size. em and rem measured from this */
  font-size: 20px;
}

html {
  font-family: Inter, "Open Sans", sans-serif;
  word-wrap: break-word;
}

body {
  width: 100%;

  background-color: var(--color-primary-1);
}

h1 {
  font-size: 2rem;
  padding: 0.5em 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  padding: 0.25em 0;
}

h3 {
  font-size: 1.25rem;
  padding: 0.125em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
}

a:visited,
a:link {
}

a:hover,
a:active {
  color: var(--color-base-0);
}

p {
  line-height: 1.75;
}

#about {
  margin-bottom: 2em;
}

#skills-and-projects,
#social {
  margin-bottom: 2em;
}

/* Components - Reusable */
.progress {
  width: 100%;
  height: 1.25em;
  -webkit-mask: linear-gradient(90deg, var(--color-secondary-2-3) 75%, #0000 0)
    0/20%;
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/0% no-repeat
    var(--color-primary-2);
}
.progress.skill-01 {
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/20% no-repeat
    var(--color-primary-2);
}
.progress.skill-02 {
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/40% no-repeat
    var(--color-primary-2);
}
.progress.skill-03 {
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/60% no-repeat
    var(--color-primary-2);
}
.progress.skill-04 {
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/80% no-repeat
    var(--color-primary-2);
}
.progress.skill-05 {
  background: linear-gradient(var(--color-secondary-2-3) 0 0) 0/100% no-repeat
    var(--color-primary-2);
}

/* Navigation part styles */
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow-wrap: normal;

  background-color: var(--color-primary-0);
}

#main-nav:first-child,
#main-nav:last-child {
  padding: 0 1em;
}

#nav-logo {
  width: 4.5em;
  height: 4.5em;
}

#nav-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

#nav-links ul li:not(:last-of-type)::after {
  content: "/";
  margin: 0 0.5em;
}

#nav-links ul li a:hover,
#nav-links ul li a:active {
  background-color: var(--color-primary-3);
  padding: 0.5em;
  border-radius: 2em;

  transition: var(--set-transition-time);
  transform: translateY(-0.25rem);

  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.19);
}
/* Translation box */
#translator-box span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#translator-box span:not(.lang-selected) {
  display: none;
}

/* Header part styles */
header {
  display: none;
  border: 2px solid black;
  color: red;
  text-align: center;
}

/* About me part styles */
#about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
}

#profile-img {
  grid-column: 1 / 1;
  grid-row: 1 / 1;

  justify-self: end;

  height: 17.5em;
  width: 100%;
  object-fit: cover;
}

#socials-box {
  grid-column: 1 / 2;
  grid-row: 2 / 2;

  background: var(--color-primary-2);

  text-wrap: wrap;
}

#socials,
#contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.social,
.contact,
#socials h3,
#contacts h3 {
  padding: 0;
  margin: 0.25em 0.25em;
}

.contact span {
  font-size: 0.75em;
}

#profile-desc-box {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;

  background: var(--color-primary-2);
  border-left: 0.125em solid var(--color-secondary-1-2);
}

#profile-desc-box p {
  padding: 0.25em 1em;
  margin: 0 0.5em;
}

#profile-desc-box li {
  padding: 0.25em 2em;
  margin: 0 0.25em;
}

#profile-desc-box:last-child {
  padding-bottom: 1em;
}
/* Skills and projects */
#skills-and-projects {
  display: grid;
  padding: 0 2em;
  grid-template-columns: 1fr 4fr;
}

#skills-container {
  border-right: 0.125em solid var(--color-secondary-1-2);
  padding-right: 1em;
}

.skills {
  padding-top: 1em;
}

.skill h4 {
  margin: 0.5em 0;
}

#work-and-projects {
  padding-left: 1em;
}

.work-proj-box {
  padding-top: 2em;
}

.work-proj-desc p {
  margin: 0.5em 0;
}

.work-proj-preview {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-content: center;
  background: var(--color-secondary-1-2);
}

.work-proj-preview a {
  padding: 1em;
}

/* #socials-box,
#contacts-box {
  width: 100%;
  margin: 0 0.5em 0.5em 0.5em;
  border-left: 0.125em solid var(--color-secondary-1-3);
  border-bottom: 0.125em solid var(--color-secondary-1-3);
  border-radius: 0 0 0 2em;
} */

/* FOOTER */
#copyright {
  background-color: var(--color-primary-0);
  padding-top: 1em;
  font-size: 0.785rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

#copyright p,
#copyright span:last-child {
  padding-bottom: 1em;
}
